.gradle/**.**
.buiild/**.**
.gradle/4.9/fileHashes/fileHashes.bin
.gradle/4.9/fileHashes/fileHashes.lock
.gradle/4.9/fileHashes/resourceHashesCache.bin
.gradle/4.9/taskHistory/taskHistory.bin
.gradle/4.9/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
